<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>



<body>
    <div class="father">
        <div class="info">
            <h1>Sorry, erorr...</h1>
        </div>
    </div>
</body>

</html>